{% extends "base.html" %}

{% block content %}
<form method="POST" action="/commit_agent">
    <div class="uk-margin">
        <div class="uk-inline">
            <input class="uk-input" type="text" name="hostname" placeholder="Hostname" autofocus="">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <input class="uk-input" type="text" name="ip" placeholder="IP-address" autofocus="">
        </div>
    </div>

    <button class="uk-button uk-button-default uk-button-large">Добавить</button>
</form>

{% endblock %}