{% extends "base.html" %}

{% block content %}
<div class="uk-inline uk-margin">
    <h2>Login</h2>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="uk-alert-danger" uk-alert>
                {{ messages[0] }}
            </div>
            <br>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="uk-margin">
                <div class="uk-inline">
                    <input class="uk-input" type="text" placeholder="Email" name="email">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <input class="uk-input" type="password" placeholder="Password" name="password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Запомнить меня
                </label>
            </div>
            <button class="uk-button uk-button-default uk-button-large">Войти</button>
        </form>
    </div>
</div>
{% endblock %}